  html,
  body {
      height: 100%;
      margin: 0;
      padding: 0;
  }

  .flexC {
      display: flex;
      justify-content: center;
  }

  .flexSB {
      display: flex;
      justify-content: space-between;
  }

  .alignItemsC {
      align-items: center;
  }

  .column {
      flex-direction: column;
  }

  .block {
      height: 100%;
      /* box-sizing: border-box; */
  }

  .none {
      display: none;
  }

  .goBack {
      width: 100%;
  }

  #addBlock button {
      width: 50%;
      height: 5vh;
  }

  .left,
  .right {
      width: 50%;
      border: 2px solid gray;
  }

  #map {
      height: 70%;
  }

  #menu {
      height: 30%;
      width: 100%;
      border: 2px solid gray;
      box-sizing: border-box;
  }

  #AutoPlace {
      width: 100%;
      height: 10%;
      box-sizing: border-box;
  }

  #outDescription {
      height: 95%;
      width: 100%;
      box-sizing: border-box;
      border: none;
      resize: none;
  }

  #inDescription {
      height: 95%;
      width: 100%;
      box-sizing: border-box;
      border: none;
      resize: none;
  }