<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="stylesheet" th:href="@{/style.css}"> -->
    <script src="../static/script.js" defer></script>
    <!-- <script th:src="@{/script.js}" defer></script> -->
    <title>Document</title>
</head>

<body>

    <div id="map"></div>

    <div id="menu">
        <input type="text" name="" id="AutoPlace">
        <div style="height: 90%;">
            <div id="helloTipBlock" class="flexSB block">
                <div class="left">
                    <p>click on a marker to see details about property</p>
                </div>
                <div id="addBlock" class="flexSB right">
                    <p id="addBlockTipText">or login to add an offer</p>
                    <p id="addBlockUser" class="none"></p>
                    <button id="addBlockLoginBut">log in</button>
                    <button id="addBlockOfferBut" class="none">add offer</button>
                </div>
            </div>
            <div id="infoOutBlok" class="flexSB block none">
                <div class="left flexSB column  alignItemsC">
                    <button class="goBack">&lAarr;</button>
                    <p class="leftOut" id="outAddress"></p>
                    <p class="leftOut" id="outRent"></p>
                    <p class="leftOut" id="outContactDetails"></p>
                    <button id="editRE" class="none">edit</button>
                </div>
                <div class="right">
                    <textarea readonly id="outDescription"></textarea>
                </div>
            </div>
            <div id="infoInBlok" class="flexSB block none">
                <div class="left flexSB column">
                    <button class="goBack">&lAarr;</button>
                    <div class="addressDiv flexSB column">
                        <label for="inAddress">address</label>
                        <input readonly type="text" name="" id="inAddress" class="leftIn"
                            placeholder="find an address by above search field">

                    </div>

                    <input type="text" name="" id="inRent" class="leftIn" placeholder="Rent">
                    <input type="text" name="" id="inContactDetails" class="leftIn" placeholder="Contact details">
                    <button class="accept" id="infoInAcceptBut">&#x2714;</button>
                    <div id="InfoInEditBlock" class="none flexC">
                        <button class="accept" id="infoInEditAcceptBut">OK</button>
                        <button class="accept" id="infoInDeleteBut">Delete</button>
                    </div>
                </div>
                <div class="right">
                    <textarea id="inDescription" placeholder="Short description"></textarea>
                </div>
            </div>
            <div id="loginBlock" class="flexSB block none">
                <div class="left flexSB column">
                    <button class="goBack">&lAarr;</button>
                    <input type="text" name="" id="inUsername" class="leftIn" placeholder="Username">
                    <input type="text" name="" id="inPassword" class="leftIn" placeholder="Password">
                    <button class="accept" id="loginAcceptBut">&#x2714;</button>
                </div>
                <div class="right">
                </div>
            </div>
        </div>
    </div>

    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "weekly" });</script>
</body>

</html>